# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignorar archivos .env específicos
/TechCraft-Dynamics/Backend/.env
/TechCraft-Dynamics/Frontend/.env

# Ignorar archivos node_modules específicos
TechCraft-Dynamics/Backend/node_modules/
TechCraft-Dynamics/Frontend/node_modules/

# Ignorar archivos package-lock.json específicos
TechCraft-Dynamics/Backend/package-lock.json
TechCraft-Dynamics/Frontend/package-lock.json

node_modules
package-lock.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

