# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------- WEB ------------------
# Ignorar archivos .env específicos
/TechCraft_Dynamics/Backend/.env
/TechCraft_Dynamics/Frontend/.env

# Ignorar archivos node_modules específicos
TechCraft_Dynamics/Backend/node_modules/
TechCraft_Dynamics/Frontend/node_modules/

# Ignorar archivos package-lock.json específicos
TechCraft_Dynamics/Backend/package-lock.json
TechCraft_Dynamics/Frontend/package-lock.json
# ---------------------------------------

# -------------- MOBILE ---------------
# Ignorar archivos .env específicos
/TC-Dynamics/Frontend/ .env
/TC-Dynamics/Server/ .env

# Ignorar archivos node_modules específicos
/TC-Dynamics/Frontend/ node_modules/
/TC-Dynamics/Server/ node_modules/

# Ignorar archivos package-lock.json específicos
/TC-Dynamics/Frontend/ package-lock.json/
/TC-Dynamics/Server/ package-lock.json/
# -------------------------------------


node_modules
package-lock.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

