.usuarios-contenedor {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.usuarios-contenedor .usuarios-titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px 60px;
  background: linear-gradient(to right, #7df1c4, #46886f);
  height: 80px;
  line-height: 80px;
  border: 2px solid #000;
  width: 100%;
  color: #000;
}



.usuarios-contenedor .usuarios-barra-busqueda {
  align-items: center;
}

.usuarios-contenedor .usuarios-input-busqueda {
  width: 120px !important;
}

.usuarios-contenedor .usuarios-tabla {
  overflow-x: auto;
}

.usuarios-contenedor .usuarios-acciones .btn-sm {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Usuario-titulo{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px 60px;
  background: linear-gradient(to right, #7df1c4, #46886f);
  height: 80px;
  line-height: 80px;
  border: 2px solid #000;
  width: 100%;
  color: #000;
}

.Usuario-formulario-box{
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 100%;
  
}

