.usuarios-contenedor {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.usuarios-contenedor .usuarios-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usuarios-contenedor .usuarios-titulo-texto {
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #198754; /* Verde Bootstrap */
  padding: 12px 32px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.usuarios-contenedor .usuarios-barra-busqueda {
  align-items: center;
}

.usuarios-contenedor .usuarios-input-busqueda {
  width: 120px !important;
}

.usuarios-contenedor .usuarios-tabla {
  overflow-x: auto;
}

.usuarios-contenedor .usuarios-acciones .btn-sm {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
