# Entorno
# Cambiar a "production" en Railway
NODE_ENV=local

# Servidor backend
PORT=4000

# Conexión MySQL local
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=contraseña
DB_NAME=nombrebasedatos

# Conexión Railway (producción)
MYSQL_URL=mysql://root:OgXUrvzUYFpyKenDPBPyljcJQdIkUAze@mysql.railway.internal:3306/railway

# URL del frontend
FRONTEND_URL=http://localhost:5173
