# ========================
# ENTORNO
# Cambiar a "production" en Railway
NODE_ENV=local

# ========================
# BACKEND
PORT=4000

# ========================
# BASE DE DATOS LOCAL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=contraseña_local
DB_NAME=nombrebasedatos

# ========================
# BASE DE DATOS RAILWAY (Producción)
# Solo se usa si NODE_ENV=production
MYSQL_URL=mysql://root:OgXUrvzUYFpyKenDPBPyljcJQdIkUAze@mysql.railway.internal:3306/railway

# ========================
# FRONTEND
FRONTEND_URL=http://localhost:5173
